@import "../core/reset";
@import "../abstract/breakpoint";
@import "../abstract/variables";
@import "../abstract/mixins";

.carousel { 
    flex: 1; 
    overflow: hidden;
    padding-top: 80px;
    height: calc(100vh - 80px);
    z-index: z-index(default);

    .carousel-dots {
        display: none;
    }

    .carousel-inner {
        height: 100%;
        display: flex;
        transition: all ease .8s;

        .carousel-item {
            width: 100vw;
            height: inherit;
            
            &.first {
                background-image: url('../images/banner-01.png');
                background-size: cover;
                background-position: center;
            }
            
            &.second {
                background-image: url('../images/banner-02.png');
                background-size: cover;
                background-position: center;
            }
        }
    }    
}