/*
*  
* @author: Michael Ribeiro ( github.com/michaelsribeiro/subway-redesign-website )
* 
*/

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.animation {
    animation-name: tada;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* HEADER / NAVBAR */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 300;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);
}
.logo {
    display: flex;
    flex: 1;
}
.logo img{
    width: 160px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex: 3;
}
.menu-mobile {
    width: 80px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* MOBILE TOGGLE BUTTON */
.toggle {
    display: block;
    width: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}
.toggle span{
    width: 30px;
    border-bottom: 3px solid #028940;
}
#center {
    margin: 6px 0;
}
/* END MOBILE TOGGLE BUTTON */

/* NAVBAR */
.header-menu {
    width: 100%;
}
.nav-bar {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar a {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
.nav-bar a:hover {
    color: #028940;
}
.nav-bar a:last-child {
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffcc00;
    transition: all .3s ease;
}
.nav-bar a:last-child:hover {
    background-color: #cfa707;
}
.nav-button {
    display: inline-block;
}
.cartBtn {
    font-size: 20px;
    color: #333;
    position: relative;
}
.cartBtn:not(hover) {
    color: #333;
}
.cartBtn span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: -6px;
    right: -10px;

    color: #fff;
    font-size: 9px;
}
/* END HEADER / NAVBAR */

/* CAROUSEL */
.carousel { 
    flex: 1; 
    overflow: hidden;
    padding-top: 80px;
    height: calc(100vh - 80px);
    z-index: 1;
}
.carousel-dots {
    display: none;
}
.carousel-inner {
    height: 100%;
    display: flex;
    transition: all ease .8s;
}
.carousel-item {
    width: 100vw;
    height: inherit;
}
.first {
    background-image: url('../images/banner-01.png');
    background-size: cover;
    background-position: center;
}
.second {
    background-image: url('../images/banner-02.png');
    background-size: cover;
    background-position: center;
}
/* END CAROUSEL */

/* FOOD MENU */
.foodMenu {
    width: 100%;
    padding: 20px 0;
}
.foodMenu h2 {
    color: #028940;
    text-align: center;
    margin: 40px 0;
}
.product-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
/* END FOOD MENU */

/* BANNER */
.banner-section {
    width: 100%;
    height: 90vh;
    background-image: url('../images/hero-eating-wrap.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-section .mask {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner-section .mask h1 {
    padding: 20px 15px;
    color: #ffcc00;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    background-color: #028940;
}
/* END BANNER */

/* FOOTER */
footer {
    width: 100%;
}

footer .container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .logo {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

footer .logo img {
    width: 190px;
}

.footer-menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.firstMenu {
    flex: 1;
}

.firstMenu h2 {
    text-transform: uppercase;
    font-size: 20px;    
    color: #028940;
}
.firstMenu .footer-items {
    padding: 0;
    list-style: none;
}

.firstMenu .footer-items a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all .3s ease;
}

.firstMenu .footer-items a:hover {
    color: #028940;
}

.firstMenu .footer-items .footer-button {
    padding: 5px 0;
}

.secondMenu {
    flex: 1;
}

.secondMenu h2 {
    text-transform: uppercase;
    font-size: 20px;    
    color: #028940;
}

.secondMenu .footer-items {
    padding: 0;
    list-style: none;
}

.secondMenu .footer-items a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all .3s ease;
}

.secondMenu .footer-items a:hover {
    color: #028940;
}

.secondMenu .footer-items .footer-button {
    padding: 5px 0;
}

.socialMidias {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMidias h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #028940;
}

.socialMidias .footer-button i {
    color: #333;
    font-size: 20px;
    transition: all .3s ease;
}

.socialMidias .footer-button i:hover {
    color: #028940;
}

.socialMidias .footer-items {
    list-style: none;
    padding: 0;
}

.socialMidias .footer-items a {    
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.socialMidias .footer-button {
    display: inline-block;
    margin: 0 8px;
}

.copy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #028940;
}
.copy .copyright {
    margin: 0;
    color: #fff;
    font-size: 13px;
}
/* END FOOTER */

/* MODELS, SHOPPING CART AND MODAL STYLES */

/* MODELS */
.models {
    display: none;
}
.product {
    text-align: center;
    max-width: 250px;
    margin: 0 auto 50px auto;
}
.product a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.product--img {
    width: 320px;
    height: 180px;
    overflow: hidden;
}
.product--img img {
    width: 100%;
}
.product--add {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border-radius: 25px;
    background-color: #ffcc00;
    
    color: #FFF;
    font-size: 22px;
    line-height: 50px;
    text-align: center;

    cursor: pointer;
    transition: all ease .2s;
}
.product a:hover .product--add {
    background-color: #cfa707;
}
.product--price {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
}
.product--name {
    font-size: 18px;
    font-weight: bold;
    color: #028940;
    margin-top: 5px;
}

.cart--item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
.cart--item img {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    display: none;
}
.cart--item-nome {
    flex: 1;
}
.cart--item--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
    margin: 0 20px;
}
.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #333;
}
.cart--item-price {
    text-align: right;
}
/* END MODELS */

/* MODAL */
.modalArea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;

    transition: all ease .5s;
    overflow-y: auto;
    z-index: 500;
}
.productBody {
    width: 900px;
    height: 500px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}
.productImgBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImgBig img {
    height: 280px;
    width: auto;
}
.productInfo {
    flex: 1;
    margin-right: 8px;
    padding-bottom: 30px;
    overflow-y: auto;
}
.productInfo h1 {
    margin-top: 30px;
}
.productInfo .productInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
}
.productInfo .wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}
.productInfo--sector {
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 10px 0 0;
    padding-bottom: 10px;
}
.productInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}
.productInfo--size {
    padding: 10px 15px;
    background-color: #EEE;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.productInfo--size:hover {
    background-color: #CCC;
}
.productInfo--size.selected {
    background-color: #48d05f;
    color: #FFF;
}
.productInfo--size.selected span {
    color: #D6D6D6;
}
.productInfo--size span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.productInfo--breadarea {
    width: 90%;
}
#bread {
    width: 100%;
    padding: 5px;
    outline: none;
}
.productInfo--saladarea {
    width: 90%;
}
.productInfo--saladitem {
    display: flex;
    flex-direction: column;
}
.productInfo--row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productInfo--rowItem {
    font-size: 13px;
    margin-top: 5px;
}
.productInfo--saucearea {
    width: 90%;
}
.productInfo--price {
    display: flex;
    align-items: center;
}
.productInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}
.productInfo--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}
.productInfo--qtarea button {
    border: 0;
    background-color:transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}
.productInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #333;
}
.productInfo--addButton {
    margin: 30px 30px 0 0;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    display: inline-block;
    color: #FFF;
    cursor: pointer;
}
.productInfo--addButton:hover {
    background-color: #32a345;
}
.productInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}
.productInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
/* END MODAL */

/* SHOPPING CART */
.cartsection {
    width: 0;
    height: 100vh;    
    background-color:#fff;
    transition: all ease .3s;
    z-index: 400;
    overflow-x: hidden;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15);

    position: fixed;
    top: 0;
    right: 0;
}
.cartsection.show {
    width: 25vw;
    right: 0;
}
.cart--area {
    padding: 20px;
}
.cart--area h1 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
.cart {
    margin-bottom:20px;
}
.cart--totalitem {
    padding:20px 0;
    border-top:1px solid #ddd;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:10px;
}
.cart--details .desconto {
    display: none;
}
.cart--details .subtotal {
    display: none;
}
.cart--totalitem.big {    
    font-size:17px;
    color:#000;
}
.clearCart p {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}
.fixedArea {
    width: 100%;
    padding: 20px 0;

    bottom: 0;
    left: 0;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.fixedArea .cart--finalizar {
    width: 90%;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #48d05f;

    color: #FFF;
    text-align: center;
    font-size: 17px;

    cursor: pointer;
    transition: all ease .2s;
}
.fixedArea .cart--finalizar:hover {
    background-color:#35af4a;
}
.fixedArea .cart--backBtn {
    width: 90%;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ffcc00;
    background-color: transparent;

    text-align: center;
    color: #ffcc00;
    font-size: 17px;

    cursor: pointer;
    transition: all ease .2s
}
/* END SHOPPING CART */

/* BREAKPOINTS */
@media (max-width:1000px) {
    .product-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .product-area {
        display:block;
    }
    .product {
        max-width:100%;
    }
    header {
        display:flex;
    }

    .menu {
        justify-content: flex-end;
        position: relative;
    }

    .menu-mobile {
        display: flex;
    }

    .header-menu {
        display: block;
        position: absolute;
        right: -150%;
        top: 51.5px;  
        height: 100vh;
        width: 70vw;
        background-color: #fff;
        box-shadow:0px 15px 15px rgba(0, 0, 0, 0.3);
        transition: all .5s ease;   
    }

    .nav-bar {
        flex-direction: column;
        background-color: #fff;
        z-index: 50 !important;  
    }

    .nav-bar a {
        margin: 10px 0 30px;
        font-size: 16px;
    }

    .nav-bar a:last-child {
        display: none;
    }

    .nav-bar .cartBtn {
        display: none;
    }

    .cartBtnMobile {
        font-size: 20px;
        color: #333;
        position: relative;
    }
    .cartBtnMobile:not(hover) {
        color: #333;
    }
    .cartBtnMobile span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        
        position: absolute;
        top: -6px;
        right: -10px;
    
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .showMenuMobile {
        right: -22px;
    }
    .carousel { 
        height: calc(50vh - 80px);
    }

    .carousel-dots {
        display: none;
    }

    .first {
        background-position: center;
    }

    .foodMenu {
        padding-top:0;
    }

    .banner-section {
        height: 70vh;
    }

    .banner-section .mask h1 {
        font-size: 30px;
    }

    .cartsection.show {
        width:100vw;
    }
    .cart--area {
        width:100vw;
    }
    .modalArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .productBody {
        width:100vw;
        height: auto;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .productImgBig img {
        width: 100%;
        height: auto;
    }

    .pizzaInfo h1 {
        margin-top:20px;
    }
    .pizzaInfo--breadarea{
        width: 100%;
    }
    .pizzaInfo--saladarea {
        width: 100%;
    }
    .pizzaInfo--saucearea {
        width: 100%;
    }
    .pizzaInfo--row {
        width: 100%;
        display: block;
    }
    .pizzaInfo--rowItem {
        margin-bottom: 5px;
    }
    .pizzaInfo--qtarea {
        height:60px;
    }
    .pizzaInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .pizzaInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .pizzaInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .pizzaInfo--cancelButton {
        display:none;
    }
    .pizzaInfo--cancelMobileButton {
        display:block;
    }

    .footer-menu {
        flex-direction: column;
    }

    .copy .copyright {
        text-align: center;
    }
}