@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@font-face {
    font-family: Subway;
    src: url("../fonts/Subway.woff2")
}
* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color:#fff;    
    font-family: Subway, Helvetica, Arial;
    font-size:15px;
    margin:0;
    position: relative;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}
.models {
    display:none;
}
.container {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    width: 100%;
    height:80px;
    background-color:#fff;
    z-index: 300;
    box-shadow:10px 0px 5px rgba(0, 0, 0, 0.2);
}
.logo {
    display: flex;
    flex: 1;
}
.logo img{
    width: 160px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex: 3;
}
.header-menu {
    width: 100%;
}
.menu-mobile {
    width: 80px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.toggle {
    display: block;
    width: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}
.toggle span{
    width: 30px;
    border-bottom: 3px solid #028940;
}
#center {
    margin: 6px 0;
}
.nav-bar {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar a {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
.nav-bar a:hover {
    color: #028940;
}
.nav-bar a:last-child {
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    background-color: #ffcc00;
    transition: all .3s ease;
}
.animation {
    animation-name: tada;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.nav-bar a:last-child:hover {
    background-color: #cfa707;
}
.nav-button {
    display: inline-block;
}
.cartBtn {
    font-size: 20px;
    color: #333;
    position: relative;
}
.cartBtn:not(hover) {
    color: #333;
}
.cartBtn span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    
    position: absolute;
    top: -6px;
    right: -10px;

    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}
.carousel { 
    flex: 1; 
    overflow: hidden;
    padding-top: 80px;
    height: calc(100vh - 80px);
    z-index: 1;
}
.carousel-dots {
    display: none;
}
.carousel-inner {
    height: 100%;
    display: flex;
    transition: all ease .8s;
}
.carousel-item {
    width: 100vw;
    height: inherit;
}
.first {
    background-image: url('../images/banner-01.png');
    background-size: cover;
    background-position: center;
}
.second {
    background-image: url('../images/banner-02.png');
    background-size: cover;
    background-position: center;
}
.cartsection {
    width: 0;
    height: 100vh;    
    background-color:#fff;
    transition: all ease .3s;
    z-index: 400;
    overflow-x: hidden;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15);

    position: fixed;
    top: 0;
    right: 0;
}
.cartsection.show {
    width: 25vw;
    right: 0;
}
.cart--area {
    padding: 20px;
}
.cart--area h1 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
.cart--details .desconto {
    display: none;
}
.cart--details .subtotal {
    display: none;
}
.clearCart p {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}
.foodMenu {
    width: 100%;
    padding: 20px 0;
}
.foodMenu h2 {
    color: #028940;
    text-align: center;
    margin: 40px 0;
}
.banner-section {
    width: 100%;
    height: 90vh;
    background-image: url('../images/hero-eating-wrap.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-section .mask {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner-section .mask h1 {
    padding: 20px 15px;
    color: #ffcc00;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    background-color: #028940;
}
.pizza-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.pizza-item {
    text-align: center;
    max-width:250px;
    margin:0 auto 50px auto;
}
.pizza-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.pizza-item--img {
    width:320px;
    height:180px;
    overflow: hidden;
}
.pizza-item--img img {
    width:100%;
}
.pizza-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#ffcc00;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}
.pizza-item a:hover .pizza-item--add {
    background-color:#cfa707;
}
.pizza-item--price {
    font-size:15px;
    font-weight: 600;
    color:#333;
    margin-top:5px;
}
.pizza-item--name {
    font-size:18px;
    font-weight: bold;
    color:#028940;
    margin-top:5px;
}
.pizza-item--desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}
.pizzaWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    z-index: 500;
}
.pizzaWindowBody {
    width:900px;
    height: 500px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.pizzaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pizzaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.pizzaBig img {
    height:280px;
    width:auto;
}
.pizzaInfo {
    flex:1;
    font-family: Subway, Helvetica, Arial;
    padding-bottom:30px;
    overflow-y: auto;
    margin-right: 8px;
}
.pizzaInfo h1 {
    margin-top:30px;
}
.pizzaInfo .pizzaInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family: Subway,Helvetica,Arial;
}
.pizzaInfo .wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}
.pizzaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:15px;
    margin-bottom:10px;
}
.pizzaInfo--breadarea {
    width: 90%;
}
#bread {
    width: 100%;
    padding: 5px;
    outline: none;
}
.pizzaInfo--saladarea {
    width: 90%;
}
.pizzaInfo--saladitem {
    display: flex;
    flex-direction: column;
}
.pizzaInfo--row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pizzaInfo--rowItem {
    font-size: 13px;
    margin-top: 5px;
}
.pizzaInfo--saucearea {
    width: 90%;
}
.pizzaInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.pizzaInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.pizzaInfo--size:hover {
    background-color:#CCC;
}
.pizzaInfo--size.selected {
    background-color:#48d05f;
    color:#FFF;
}
.pizzaInfo--size.selected span {
    color:#D6D6D6;
}
.pizzaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.pizzaInfo--price {
    display:flex;
    align-items:center;
}
.pizzaInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}
.pizzaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.pizzaInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.pizzaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.pizzaInfo--addButton:hover {
    background-color:#32a345;
}
.pizzaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}
.pizzaInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
.cart {
    margin-bottom:20px;
}
.cart--item {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin:20px 0;
}
.cart--item img {
    width:70px;
    height:40px;
    margin-right:10px;
    display: none;
}
.cart--item-nome {
    flex: 1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    margin: 0 20px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item-price {
    text-align: right;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart--totalitem {
    padding:20px 0;
    border-top:1px solid #ddd;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:10px;
}

.cart--totalitem.big {    
    font-size:17px;
    color:#000;
}
.fixedArea {
    width: 100%;
    padding: 20px 0;

    bottom: 0;
    left: 0;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart--finalizar {
    width: 90%;
    padding:15px 20px;
    border-radius:5px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:10px;
    transition: all ease .2s;
    font-size: 17px;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}

.cart--backBtn {
    width: 90%;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ffcc00;
    color: #ffcc00;
    background-color: transparent;

    text-align: center;;
    font-size: 17px;

    cursor: pointer;
    transition: all ease .2s
}

footer {
    width: 100%;
}

footer .container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .logo {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

footer .logo img {
    width: 190px;
}

.footer-menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.firstMenu {
    flex: 1;
}

.firstMenu h2 {
    text-transform: uppercase;
    font-size: 20px;    
    color: #028940;
}
.firstMenu .footer-items {
    padding: 0;
    list-style: none;
}

.firstMenu .footer-items a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all .3s ease;
}

.firstMenu .footer-items a:hover {
    color: #028940;
}

.firstMenu .footer-items .footer-button {
    padding: 5px 0;
}

.secondMenu {
    flex: 1;
}

.secondMenu h2 {
    text-transform: uppercase;
    font-size: 20px;    
    color: #028940;
}

.secondMenu .footer-items {
    padding: 0;
    list-style: none;
}

.secondMenu .footer-items a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all .3s ease;
}

.secondMenu .footer-items a:hover {
    color: #028940;
}

.secondMenu .footer-items .footer-button {
    padding: 5px 0;
}

.socialMidias {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMidias h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #028940;
}

.socialMidias .footer-button i {
    color: #333;
    font-size: 20px;
    transition: all .3s ease;
}

.socialMidias .footer-button i:hover {
    color: #028940;
}

.socialMidias .footer-items {
    list-style: none;
    padding: 0;
}

.socialMidias .footer-items a {    
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.socialMidias .footer-button {
    display: inline-block;
    margin: 0 8px;
}

.copy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #028940;
}

.copy .copyright {
    margin: 0;
    color: #fff;
    font-size: 13px;
}

@media (max-width:1000px) {
    .pizza-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .pizza-area {
        display:block;
    }
    .pizza-item {
        max-width:100%;
    }
    header {
        display:flex;
    }

    .menu {
        justify-content: flex-end;
        position: relative;
    }

    .menu-mobile {
        display: flex;
    }

    .header-menu {
        display: block;
        position: absolute;
        right: -150%;
        top: 51.5px;  
        height: 100vh;
        width: 70vw;
        background-color: #fff;
        box-shadow:0px 15px 15px rgba(0, 0, 0, 0.3);
        transition: all .5s ease;   
    }

    .nav-bar {
        flex-direction: column;
        background-color: #fff;
        z-index: 50 !important;  
    }

    .nav-bar a {
        margin: 10px 0 30px;
        font-size: 16px;
    }

    .nav-bar a:last-child {
        display: none;
    }

    .nav-bar .cartBtn {
        display: none;
    }

    .cartBtnMobile {
        font-size: 20px;
        color: #333;
        position: relative;
    }
    .cartBtnMobile:not(hover) {
        color: #333;
    }
    .cartBtnMobile span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        
        position: absolute;
        top: -6px;
        right: -10px;
    
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .showMenuMobile {
        right: -22px;
    }
    .carousel { 
        height: calc(50vh - 80px);
    }

    .carousel-dots {
        display: none;
    }

    .first {
        background-position: center;
    }

    .foodMenu {
        padding-top:0;
    }

    .banner-section {
        height: 70vh;
    }

    .banner-section .mask h1 {
        font-size: 30px;
    }

    .cartsection.show {
        width:100vw;
    }
    .cart--area {
        width:100vw;
    }
    .pizzaWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .pizzaWindowBody {
        width:100vw;
        height: auto;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .pizzaBig img {
        width: 100%;
        height: auto;
    }

    .pizzaInfo h1 {
        margin-top:20px;
    }
    .pizzaInfo--breadarea{
        width: 100%;
    }
    .pizzaInfo--saladarea {
        width: 100%;
    }
    .pizzaInfo--saucearea {
        width: 100%;
    }
    .pizzaInfo--row {
        width: 100%;
        display: block;
    }
    .pizzaInfo--rowItem {
        margin-bottom: 5px;
    }
    .pizzaInfo--qtarea {
        height:60px;
    }
    .pizzaInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .pizzaInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .pizzaInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .pizzaInfo--cancelButton {
        display:none;
    }
    .pizzaInfo--cancelMobileButton {
        display:block;
    }

    .footer-menu {
        flex-direction: column;
    }

    .copy .copyright {
        text-align: center;
    }
}