@import "../core/reset";
@import "../abstract/breakpoint";
@import "../abstract/variables";
@import "../abstract/mixins";
@import "../components/animations";

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: z-index(overlay);
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);

    .logo {
        display: flex;
        flex: 1;

        img{
            width: 160px;
            cursor: pointer;
        }
    }

    .menu {
        display: flex;
        flex: 3;

        .menu-mobile {
            width: 80px;
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(small-to-medium) {
                .cartBtnMobile {
                    font-size: 20px;
                    color: #333;
                    position: relative;
                    
                    &:not(hover) {
                        color: #333;
                    }

                    span {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: red;
                        
                        position: absolute;
                        top: -6px;
                        right: -10px;
                    
                        font-size: 9px;
                        color: #fff;
                        @include flexCenter(row, center, center);
                    }
                }                
            }

            .toggle {
                display: block;
                width: 30px;
                display: flex;
                flex-direction: column;
                user-select: none;
                cursor: pointer;

                span{
                    width: 30px;
                    border-bottom: 3px solid #028940;
                }

                #center {
                    margin: 6px 0;
                }
            }           
        }

        .header-menu {
            width: 100%;

            @include breakpoint(small-to-medium) {
                .header-menu {
                    display: block;
                    position: absolute;
                    right: -150%;
                    top: 51.5px;  
                    height: 100vh;
                    width: 70vw;
                    background-color: #fff;
                    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
                    transition: all .5s ease;   
                }
            }

            .nav-bar {
                padding: 0;
                @include flexCenter(row, space-evenly, center);
                
                a {
                    color: #333;
                    font-size: 12px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all .2s linear;
                    
                    &:hover {
                        color: #028940;
                    }

                    &:last-child {
                        color: #fff;
                        font-weight: 700;
                        padding: 10px 20px;
                        border-radius: 20px;
                        background-color: #ffcc00;
                        transition: all .3s ease;

                        &:last-child:hover {
                            background-color: #cfa707;
                        }

                        &.animation {
                            animation-name: tada;
                            animation-duration: 1s;
                            animation-fill-mode: both;
                        }
                    }

                    .nav-button {
                        display: inline-block;

                        &.cartBtn {
                            font-size: 20px;
                            color: #333;
                            position: relative;
                            
                            &:not(hover) {
                                color: #333;
                            }
                            
                            span {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: red;
                                
                                position: absolute;
                                top: -6px;
                                right: -10px;
                            
                                font-size: 9px;
                                color: #fff;
                                @include flexCenter(row, center, center);
                            }
                        }
                    }
                }
            }
        }
    }
}