@import "../core/reset";
@import "../abstract/breakpoint";
@import "../abstract/variables";
@import "../abstract/mixins";

.models {
    display: none;

    .product {
        text-align: center;
        max-width: 250px;
        margin: 0 auto 50px auto;

        a {
            @include flexCenter(column, initial, center);
            text-decoration: none;
            
            &a:hover .product--add {
                background-color: #cfa707;
            }

            .product--img {
                width: 320px;
                height: 180px;
                overflow: hidden;
    
                img {
                    width: 100%;
                }
            }        
    
            .product--add {
                width: 50px;
                height: 50px;
                margin-top: -25px;
                border-radius: 25px;
                background-color: #ffcc00;

                line-height: 50px;
                text-align: center;
                color: #FFF;
                font-size: 22px;

                cursor: pointer;
                transition: all ease .2s;
            }
        }

        .product--price {
            font-size: 15px;
            font-weight: 600;
            color: #333;
            margin-top: 5px;
        }

        .product--name {
            font-size: 18px;
            font-weight: bold;
            color: #028940;
            margin-top: 5px;
        }
    }
    
    .cart--item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 0;

        img {
            width: 70px;
            height: 40px;
            margin-right: 10px;
            display: none;
        }

        .cart--item-nome {
            flex: 1;
        }

        .cart--item--qtarea {
            display: inline-flex;
            background-color: #EEE;
            border-radius: 10px;
            height: 30px;
            margin: 0 20px;

            button {
                border: 0;
                padding: 0px 10px;
                background-color: transparent;
                outline: 0;
        
                font-size: 17px;
                color: #333;
                cursor: pointer;
            }            
        
            .cart--item--qt {
                line-height: 30px;
                font-size: 12px;
                font-weight: bold;
                color: #000;
                padding: 0px 5px;
            }
        }

        .cart--item-price {
            text-align: right;
        }
    }
}